.sphx-glr-download-link-note.admonition.note {
  display: none;
}

.sphx-glr-download {
  display: none;
}

.bordered-image {
  border: 1px solid #e5e5e5;
}

:root {
  --item-card-width: 200px;
  --item-card-margin: 10px;
  --item-card-title-height: 50px;

  --item-card-img-length: calc(
    var(--item-card-width) - 2 * var(--item-card-margin)
  );
  --item-card-title-width: calc(
    var(--item-card-width) - 2 * var(--item-card-margin)
  );
  --item-card-title-margin-top: var(--item-card-margin);

  --item-card-height: calc(
    var(--item-card-margin) * 3 + var(--item-card-img-length) +
      var(--item-card-title-height)
  );
}

td .highlight-python.notranslate {
  margin-block-end: 0 !important;
}

/*cite {*/
/*    background: rgba(229, 229, 229, 0.69) !important;*/
/*    padding-inline-start: 0.25rem !important;*/
/*    padding-inline-end: 0.25rem !important;*/
/*    border-radius: 4px !important;*/
/*    font-style: normal !important;*/
/*    font-weight: 600 !important;*/
/*}*/

.sidebar-brand-text {
  display: flex;
  justify-content: center;
}

.sidebar-logo-container .sidebar-logo {
  max-block-size: 170px;
  inline-size: auto;
  display: block;
}

.gallery-item {
  position: relative;
  display: inline-block;
  inline-size: var(--item-card-width);
  block-size: var(--item-card-height);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin: 7px;
}

.docutils.align-default {
  white-space: normal !important;
  max-inline-size: 100% !important;
  inline-size: 100% !important;
  td {
    white-space: normal !important;
  }
}

.sphx-glr-script-out.highlight-none.notranslate .highlight pre {
  /*正常打印回车*/
  white-space: pre-wrap !important;
  /*white-space: normal !important;*/
  max-inline-size: 100% !important;
  inline-size: 100% !important;
}

.gallery-item-card {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: var(--item-card-width);
  block-size: var(--item-card-height);
  display: flex;
  flex-direction: column;
  margin: var(--item-card-margin);
}

.gallery-item-card-img {
  block-size: var(--item-card-img-length);
  inline-size: var(--item-card-img-length);
  min-inline-size: var(--item-card-img-length);
  min-block-size: var(--item-card-img-length);
  display: block;
}

.gallery-item-card-title {
  text-align: center;
  margin-block-start: var(--item-card-margin);
  font-weight: bold;
  min-block-size: var(--item-card-title-height);
  block-size: var(--item-card-title-height);
  inline-size: var(--item-card-title-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item-description {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /*background-color: #1e8449;*/
  color: black;
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.gallery-item:hover .gallery-item-description {
  display: flex;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.22);
}

.language-switch-button {
  background: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 15px;
  margin-block-start: 0;
  margin-block-end: 4px;
  border: none;
  color: rgb(4, 4, 4);
  block-size: 20px;
  inline-size: 20px;
  border-radius: 6px;
  font-weight: 325;
}

.language-switch-button:hover {
  color: #2758da;
}

.version-select {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: 14px;
  border: 1px solid rgb(238, 235, 238);
  margin-inline: 16px;
  padding: 8px;
  block-size: fit-content;
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 6px;
  fill: rgb(238, 235, 238);
}
